.container-achievement{
    margin-top: -60px;
    margin-bottom: 100px;
}
.row-achievement{
    padding-right: 20%;
    padding-left: 20%;
    height: 120px;
}
body .card-box{
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #f3ba2c;
}
.title-box{
    font-family: Lobster; 
}
.subtitle-box{
    font-family: Comfortaa; 
}
body .card-box-center{
    background-color: #f3ba2c;
    border-color: #f3ba2c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #f5f5f5;
}

/*Hover*/
body .card-box:hover{
    background-color: #f3ba2c;
    border-color: #f3ba2c; 
    color: #f5f5f5;
    transition: 0.8s ease-in;
}
body .card-box-center:hover{
    background-color: #A9C52F;
    border-color: #A9C52F; 
    color: #f5f5f5;
    transition: 0.8s ease-in;
}


/*Responsive Mode*/
@media only screen and (max-width: 600px) {
    .row-achievement{
        padding-right: 10%;
        padding-left: 10%;  
    } 
  }
