.container-header {
    background-color: none;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.container-navbar {
    margin-right: 10%;
    margin-left: 10%;
    font-family: Comfortaa;
    background-color: none;
}

.ml-auto {
    margin-right: 50px;
}

.menubar {
    margin-right: 10px;
    margin-left: 10px;
}

.menutext {
    color: white
}

.menutext:hover {
    color: #A9C52F;
    font-weight: 900;
    text-decoration-color: #A9C52F;
    text-decoration-line: underline;
}

a .btn-masuk{
    width: 110px;
    height: 50px;
    background-color: #A9C52F;
    border-color: #A9C52F;
    font-size: 18px;
}
a .btn-masuk:hover{ 
    background-color: #F3BA2C;
    border-color: #F3BA2C; 
    transition: 0.8s ease-out;
}


@media only screen and (max-width: 700px) {
    .container-header {
        position: relative;
        background-color: rgb(124, 123, 121);
    }

    .navbar-toggler {
        border-style: none;
        border-color: rgb(124, 123, 121);
    }

    .navbar-toggler-icon {
        color: white;
        background-color: #A9C52F
    }
}


@media only screen and (max-width: 400px) {
    .container-header { 
        background-color: rgb(124, 123, 121); 
    } 

    .navbar-toggler-icon {
        color: white;
        background-color: #A9C52F
    }
}