.container-banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 768px;
    overflow: hidden;
}
.content-banner{
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
    right: auto;
    padding-right: auto;
    padding-left: auto;
    width: 30%;
}
a .button{
    width: 250px;
    height: 50px;
    background-color: #A9C52F;
    border-color: #A9C52F;
    font-size: 18px;
    font-family: Comfortaa;
    border-radius: 5px;
    font-weight: bold;
}
a .button:hover{ 
    background-color: #F3BA2C;
    border-color: #F3BA2C; 
    transition: 1.8s ease-out;
}

/*Responsive Mode*/
@media only screen and (max-width: 600px) {
    .content-banner{ 
        text-align: center;
        top: 40%;
        left: 0;
        padding-right: 10%;
        padding-left: 10%;
        width: 100%;
    } 
  }